@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;600&display=swap');
@import "libs/_variables";
@import "libs/_responsive";
@import "libs/common.scss";

:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: 'Poppins', sans-serif;
}

.public{
    &-layout{
        padding: 8px 16px;
    }
    color: $default;
    .dropdown-menu.show{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
        border: 0 !important;
    }

    input{
        outline: none !important;
    }
    .nav-top{
        background-color: #003E29;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 300;
        .dropdown-toggle{
            padding: 0 !important;
            height: fit-content;
            background-color: inherit;
            border: 0;
        }
    }
    .navbar{
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.7) !important;
        form{
            input{
                border: 0 !important;
                background-color: inherit !important;
                &:focus{
                    box-shadow: none !important;
                }
            }
            border-radius: 0.375rem;
            background: #F8FAFC;
            width: 26rem;
        }
    }
    .header{
        background: #EFF5F0;
        border-radius: 16px;
        .form{
            max-width: 39rem;
            width: 100%;
            height: 55px;
            border-radius: 3px;
            input{
                background-color: inherit;
                &:focus{
                    box-shadow: none !important;
                }
            }
        }
    }
    .home{
        .card{
            border-radius: 4px;
            overflow: hidden;
            &-img{
                //
            }
            button{
                background-color: #f5f5f5;
                border-radius: 32px;
                color: $default;
                &:hover{
                    background-color: $primary;
                    color: #fff;
                }
            }
        }
        .news{
            background-color: #444BD3;
            border-radius: 16px;
            padding: 26px 11px;
            h3{
                color: $white;
            }
            p{
                color: rgba(255, 255, 255, 0.48);;
            }
            input{
                max-width: 300px;
            }
            button{
                background: #6068DB;
                border-radius: 4px;
                color: $white;
            }
        }
    }

    .footer{
        background-color: #f5faf6;
        .social{
            &-icon{
                background-color: $white;
                border-radius: 50%;
                padding: 8px;
                margin-right: 8px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    background-color: #444BD3;
                    color: #fff;
                }
            }
        }
        a{
            text-decoration: none;
            color: $default;
        }
        .copyright{
            color: $gray-300;
            text-align: center;
        }
    }

    .cart{
        z-index: 999;
        position: fixed;
        margin: 18px;
        padding: 3px;
        border-radius: 4px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        &-img{
            max-width: 6rem;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
    a{
        text-decoration: none;
        color: $default;
    }

    .product{
        &_content{
            background-color: var(--White);
            border-radius: .6rem;
            overflow-x: hidden;
            .add{
                width: 8rem;
                input{
                    text-align: center;
                    outline: none;
                }
            }
            &-info{
                padding: 1.4rem;
                .type{
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    letter-spacing: 8px;
                    color: var(--Dark-grayish-blue);
                }
                h2{
                    font-family: 'Fraunces', serif;
                    font-size: 1.8rem;
                    line-height: 1.1;
                    color: var(--Very-dark-blue);
                    font-weight: 700;
                    margin: .6rem 0;
                }
    
                p{
                    margin: .8rem 0;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    color: var(--Dark-grayish-blue);
                    font-weight: 500;
                    line-height: 1.5;
                }
            }
            &-img{
                img{
                    width: 100%;
                }
            }
        }
    }
    .steppers {
        gap: 1rem;
        margin-bottom: 1rem;
        .step-number {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            border-radius: 50%;
            background-color: #ddd;
            color: #fff;
          }
          .step-content {
            display: flex;
            align-items: center;
            gap: .6rem;
          }
          .active .step-number {
            background-color: $primary;
          }
          .step-container {
            display: flex;
          }
          .step-title {
            margin-bottom: 0.5rem;
            font-weight: bold;
          }
          .completed .step-number {
            background-color: $primary;
          }
      }
}

img{
    width: 100%;
}

.modal-content{
    input{
        outline: none;
    }
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
  }
  .bounce-leave-active {
    animation: bounce-in 0.5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }